@model UMGI.GRCS.UI.Rights.Models.ContractCreationManager

@{
    ViewBag.Title = "Contract Creation";
}

@section scripts{
<script src="@Url.Content("/GCS/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/ContractCreation.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/ContractInfo.js")" type="text/javascript"></script>
}


<div id="tabs">
	    <ul class="tabul">
		    <li><a href="#tabs-1">Contract Information</a></li>		   
            <li><a href="#tabs-2">Rights & Restrictions</a></li>
            <li><a href="#tabs-3">Secondary Exploitation</a></li>		   
	    </ul>
	    <div id="tabs-1" class="tabStyle">       
                  @Html.Partial("ContractInfo", ((UMGI.GRCS.UI.Rights.Models.ContractCreationManager)Model).ContractInfo)  
                  </div> 
	   
         <div id="tabs-2" class="tabStyle">
	        @Html.Partial("RightsAndRestrictions", ((UMGI.GRCS.UI.Rights.Models.ContractCreationManager)Model).RightsRestrictionsInfo)
	    </div>

         <div id="tabs-3" class="tabStyle">
	        @Html.Partial("SecondaryExploitation", ((UMGI.GRCS.UI.Rights.Models.ContractCreationManager)Model).SecondaryExploitation)
	    </div>
	    
    </div> 

