@model UMGI.GRCS.UI.Models.ContractMaintenanceWorkQueueModel
@using UMGI.GRCS.Resx.Resource.UIResources
@{
    ViewBag.Title = @ContractResource.ContractMaintenanceWorkQueueHeader;
}
@section scripts{
    <link href="@Url.Content("/GCS/Scripts/jtable/themes/standard/blue/jtable_blue.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("/GCS/Scripts/jtable/jquery.jtable.js")" type="text/javascript"></script>
    <script src="@Url.Content("/GCS/Scripts/Custom/ContractMaintenceWorkQueue.js")" type="text/javascript"></script>
    <script src="@Url.Content("/GCS/Scripts/ColumnFilter/jquery.columnfilters.js")" type="text/javascript"></script>
}

<div class="contractMaintenanceWorkQueue contractmain">
    <!-- Maintenance Header Starts -->
    <div>
        <!--<h2 class="workqueueResult alignLeft">
        @ContractResource.ContractMaintenanceWorkQueueHeader</h2>-->

        <div class="alignLeft">

            <div class="alignLeft">
                <h2 class="workqueueResult alignLeft">

                    <span id="workQueueResultCount" style="float: left; display: inline-block;">WorkQueue (0)</span>
                </h2>
            </div>

            <div class="ui-jtable-loading" style="float: left;"></div>
        </div>

        <div id="jqTablePager">
            @ContractResource.ShowDropDown
            @Html.DropDownListFor(model => model.ShowItemsPerPage, Model.ShowItemsPerPage)
            @ContractResource.itemsperpage
        </div>
    </div>
    <!-- Maintenance Header ends -->
    <div class="clear">
    </div>
    <div>
        <div id="jqgrid">
        </div>
        <div id="contractSelectList">
        </div>
    </div>
</div>
@section BottomInputs{
    <div class="alignRight editBtnContainer">
        <input id="EditContract" runat="server" type="submit" class="primbutton" value="@ContractResource.EditContractButton" />
    </div>
}