@model UMGI.GRCS.UI.Models.RightsRestrictionTabModel
@using UMGI.GRCS.Resx.Resource.UIResources
@{
    ViewBag.Title = "DigitalRestriction";
}
<script src="@Url.Content("/GCS/Scripts/Custom/RightsAndRestriction.js")" type="text/javascript"></script>
<script type="text/javascript">
    var msg = '@ViewBag.Result';
    if (msg != null)
        displayDialog("Info", msg);
</script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { Id = "DigitalRightsForm" }))
{

    @Html.Hidden("IsMaintenance", true)
    @Html.Hidden("TemplateId", @Model.TemplateId)
    @Html.Hidden("TemplateName", @Model.TemplateName)
    @Html.Hidden("ClearanceAdmin", @Model.ClearanceAdmin)
    <div class="editDigitalRestriction">
        <div id="divDigitalRestriction">
            <input type="hidden" value="@ViewBag.Result" id="digitalTemplateStatus" />
            <div class="head">
            </div>
            <p></p>
            <div>
                Template Name:    @Model.TemplateName
                @Html.Hidden("Result", true)
            </div>
            <p></p>
            <div class="Fullwidth">
                <table class="sample">
                    <thead>
                        <tr>
                            <th>
                                @ContractResource.SelectCheckBox
                            </th>
                            <th>
                                @ContractResource.ContentTypeColumn
                            </th>
                            <th>
                                @ContractResource.UseTypeColumn
                            </th>
                            <th>
                                @ContractResource.CommercialModelColumn
                            </th>
                            <th>
                                @ContractResource.RestrictionColumn
                            </th>
                            <th>
                                @ContractResource.ConsentPeriodColumn
                            </th>
                            <th>
                                @ContractResource.NotesColumn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int index = 0; index < Model.DigitalRestriction.Count; index++)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBoxFor(model => model.DigitalRestriction[index].DigitalRestrictionIdChecked)
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.DigitalRestriction[index].ContentTypeId, new SelectList(Model.ContentTypeList, "value", "text", Model.DigitalRestriction[index].ContentTypeId), new { @class = "ContentTypeList" })
                                    @Html.ValidationMessageFor(model => model.DigitalRestriction[index].ContentTypeId)
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.DigitalRestriction[index].UseTypeId, new SelectList(Model.UseTypeList, "value", "text", Model.DigitalRestriction[index].UseTypeId), new { @class = "UseTypeList" })
                                    @Html.ValidationMessageFor(model => model.DigitalRestriction[index].UseTypeId)
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.DigitalRestriction[index].CommercialModelId, new SelectList(Model.CommercialModelsList, "value", "text", Model.DigitalRestriction[index].CommercialModelId), new { @class = "CommercialModelList" })
                                    @Html.ValidationMessageFor(model => model.DigitalRestriction[index].CommercialModelId)
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.DigitalRestriction[index].RestrictionId, new SelectList(Model.RestrictionList, "value", "text", Model.DigitalRestriction[index].RestrictionId), new { @class = "DigitalrestrictionList" })
                                    @Html.ValidationMessageFor(model => model.DigitalRestriction[index].RestrictionId)
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.DigitalRestriction[index].ConsentPeriodId, new SelectList(Model.ConsentPeriodList, "value", "text", Model.DigitalRestriction[index].ConsentPeriodId), new { @class = "DigitalconsentList" })
                                    @Html.ValidationMessageFor(model => model.DigitalRestriction[index].ConsentPeriodId)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.DigitalRestriction[index].Notes)
                                    @Html.ValidationMessageFor(model => model.DigitalRestriction[index].Notes)
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <p></p>
                <div class="width97 hyperlink">
                    <a id="btnRemoveDigitalTemplateMtn" href="" class="search-button">
                        <img class="deleteImage" alt="Delete" src="/GCS/Images/delete.gif" />@ContractResource.RemoveRestrictionLink</a>
                    <div class="digitalButton hyperlink">
                        <a id="btnAddDigitalTemplateMtn" href="" class="search-button">
                            <img class="addImage" alt="Add" src="/GCS/Images/plus sign.gif" />@ContractResource.AddRestrictionLink</a>
                    </div>
                </div>
            </div>
            <p></p>
            @section BottomInputs{
                <div align="right">
                    <input id="btnSaveExistingDigitalTemplate" type="submit" class="primbutton"
            value="@ContractResource.SaveButton" />
                    <input id="btnCancel" class="cancelButton primbutton" type="submit"
            value="@ContractResource.CancelButton" />
                </div>
            }
        </div>
    </div>
}