@model UMGI.GRCS.UI.Models.ManageAddressBookModel
@using UMGI.GRCS.Resx.Resource.UIResources
@{
    ViewBag.Title = @ContractResource.ManageAddressBookHeader;
}
<link href="@Url.Content("/GCS/Scripts/jtable/themes/standard/blue/jtable_blue.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/GCS/Content/SubPages/ManageAddressBook.min.css")"  rel="stylesheet"

type="text/css" />
<script src="@Url.Content("/GCS/Scripts/jtable/jquery.jtable.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/ManageAddressBook.js")" type="text/javascript"></script>

<script type="text/javascript">
    var msg = '@ViewBag.Message';
    if (msg != null)
        displayDialog("Info", msg);
</script>

<div class="scrollAddressBook">

    <div>
        <h2 class="roleResult alignLeft " title="Role/Group Name (0)">
            <span id="roleResultCount">Role/Group Name (0)</span>
            <span class="ui-jtable-loading alignLeft "></span>
        </h2>
    </div>
    <div class="alignRight createNew">
        <span>
            <input id="CreateNewEntry" type="submit" class="primbutton" value="Create New Entry" /></span>
        <span id="jqPager">
            @ContractResource.ShowDropDown
            @Html.DropDownListFor(model => model.ShowItemsPerPage, Model.ShowItemsPerPage)
            @ContractResource.itemsperpage
        </span>
    </div>
    <div id="filterRoleGroupName">
        <input type="hidden" value="@ViewBag.displayMessage" id="deleteDisplayMessage" />
        <div id="accordion" class="manageAddressAccordion Clear">
            <div class="head leftRight ">
                <a class="header alignLeft filterRoleLabel" href="#">@ContractResource.FilterRoleGroupName <span id="filt" style="display: none">- Filter Applied </span></a>
                <span id="clrfilter" class="alignRight" style="margin-right: 15px;">
                    <img src="/GCS/Images/Filter.gif" style="height: 15px; width: 15px;" alt="Filter" /><a id="clearFilter" class="alignRight" href="javascript:void(0);" style="text-decoration: underline;">Clear Filter</a></span>
            </div>
        </div>
        <div id="accb" class="accItem accBody">
            <div class="accBodyOuterContainer">
                <div class="alignLeft firstManageContainer">
                    <div class="manageAddressLabel">
                        @Html.LabelFor(model => model.EmailGroupDetails.Name):
                    </div>

                    <div class="manageAdressField">
                        @Html.TextBoxFor(model => model.EmailGroupDetails.Name)
                        @Html.HiddenFor(model => model.EmailGroupDetails.Id)  @*To Store the Id*@
                    </div>
                </div>
                <div class="alignLeft secondManageContainer">
                    <div class="manageAddressLabel">
                        @Html.LabelFor(model => model.EmailGroupDetails.CountryDetails.CountryName):
                    </div>

                    <span class="alignRight" style="margin-right: 15px;">
                        <img src="/GCS/Images/GRS_loading_Circle_icon.gif" alt="loading" id="grsLoadingSmall" style="display: none" /></span>
                    <div class="manageAdressField search-button">
                        @Html.TextBoxFor(model => model.EmailGroupDetails.CountryDetails.CountryName, new { data_autocomplete_source_manual = @Url.Action("AutoSearchCountry", "Contract") })
                        @Html.HiddenFor(model => model.EmailGroupDetails.CountryDetails.CountryId)  @*To Store the CountryId*@
                    </div>
                </div>
                <div class="alignLeft manageAddressbtn">
                    <input type="submit" id="filterAddress" value="@ContractResource.FilterButton" class="primbutton" />
                    <input type="submit" id="resetAddress" value="@ContractResource.ResetButton" class="secbutton btnSpacing" />
                </div>
            </div>
        </div>
    </div>

    <div id="addressList">
        <div id="jqgrid">
        </div>
        <div id="selectAddressList">
        </div>
    </div>
</div>
<!----------------- End of scrollAddressBook container ------------------------->

@section BottomInputs{
    <div class="bottomInputs">

        <input id="EditAddress" type="submit" class="primbutton" value="@ContractResource.EditButton" />
        <input id="DeleteAddress" type="submit" class="secbutton btnSpacing" value="@ContractResource.DeleteButton" />
    </div>
}