@using UMGI.GRCS.Resx.Resource.UIResources
@using UMGI.GRCS.UI.Helper
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @(Html.Syncfusion().StyleManager().Register(component => component.Add(ComponentType.Grid)))
    <link href="@Url.Content("/GCS/Images/favicon.ico")" rel="icon" type="image/x-icon"/>
    <link href="@Url.Content("/GCS/Content/themes/base/jquery-ui-1.8.21.custom.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/GCS/Content/ClearenceSite.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/GCS/Content/subpages/contract.css")" rel="stylesheet" />
    <link href="@Url.Content("/GCS/Scripts/jtable/themes/standard/green/jtable_green.min.css")" rel="stylesheet" />

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.21/jquery-ui.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="@Url.Content("/GCS/Scripts/jquery-1.7.2.min.js")"><\/script>');
                document.write('<script src="@Url.Content("/GCS/Scripts/jquery-ui-1.8.21.custom.min.js")"><\/script>');
                document.write('<script src="@Url.Content("/GCS/Scripts/jquery.unobtrusive-ajax.js")"><\/script>');
                document.write('<script src="@Url.Content("/GCS/Scripts/jquery.validate.js")"><\/script>');
                document.write('<script src="@Url.Content("/GCS/Scripts/jquery.validate.unobtrusive.js")"><\/script>');
            }
    </script>
    <script src="@Url.Content("/GCS/Scripts/jquery.watermark.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/json2.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/MicrosoftAjax.js")" type="text/javascript"> </script>

    <script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-1.7-development-only.js"></script>
    <script>
        if (!window.Modernizr) {
            document.write('<script src="@Url.Content("/GCS/Scripts/modernizr-1.7.js")"><\/script>');
            }
    </script>

    <script src="@Url.Content("/GCS/Scripts/Custom/AutoCompleteComboBox.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/Custom/ChooseTemplate.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/Custom/ClearenceLayout.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/Custom/jquerycssmenu.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/Custom/jquery.idletimeout.js")" type="text/javascript"></script>
    <script src="@Url.Content("/GCS/Scripts/Custom/jquery.idletimer.js")" type="text/javascript"></script>
    <script src="@Url.Content("/GCS/Scripts/JLinq/jLinq-2.2.1.packed.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/JSLinq/jsLinq.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/jtable/jquery.jtable.js")" type="text/javascript"> </script>
    <script src="@Url.Content("/GCS/Scripts/Utilities/Utilities.js")" type="text/javascript"></script>

    @RenderSection("scripts", required: false)

</head>
<body>

    @Html.Action(GlobalConstants.ClearanceMenu, GlobalConstants.Home)
    <div id="main" class="mainContainer">
        @RenderBody()
    </div>
    <div id="loadingDivPA">
        <img alt="" src="/GCS/images/animated_gcs.gif" class="ajax-loader" />
    </div>
    <div id="loadingDivPAWithoutModal">
        <img alt="" src="/GCS/images/animated_gcs.gif" class="ajax-loader" />
    </div>
    <a name="bottom"></a>
    <div class="footer">
        <div class="foot">
            <div id="contentBottom" style="*margin-right: 15px; margin-top: 3px; margin-bottom: 3px;">
                <div id="footerInfo">
                    <span>
                        <label>Business Support:</label>
                        <img src="@Url.Content("/GCS/Images/Footer_Phone.png")" alt="Phone" title="Phone" /><label> +31-35-5489-145   </label>
                    </span>
                    <span>
                        <img src="@Url.Content("/GCS/Images/Mail.png")" alt="Email"  title="Email" /><label> gcs@umusic.com  </label>
                    </span>
                    <span>&nbsp;|&nbsp;</span>
                    <span>
                        <label>Application Support:</label>
                        <img src="@Url.Content("/GCS/Images/Footer_Phone.png")" alt="Phone" title="Phone" /><label> +1-818-286-4643</label></span>
                    <span>
                        <img src="@Url.Content("/GCS/Images/Mail.png")" alt="Email"  title="Email" /><label> applicationsupport@umusic.com</label></span>

                </div>
                <div class="rightButtons" style="*margin-right: 0 !important;">

                    <div style="float: right; margin-left: 29px; margin-right: 15px; margin-top: -3px; *margin-top: 0px;">
                        <a href="#" style="margin-left: 1px;" title="Page Down Button">
                            <img alt="Page Down Button" title="Page Down Button" src="@Url.Content("/GCS/Images/i_ar_down.png")" id="nav_down" border="0" /></a>
                        <a href="#" title="Page Up Button">
                            <img alt="Page Up Button " title="Page Up Button" src="@Url.Content("/GCS/Images/i_ar_Up.png")" id="nav_up" border="0" /></a>
                    </div>
                    <div style="float: right;">
                        @RenderSection("BottomInputs", required: false)
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <!-- Sesion Time out dialog window markup -->
    <div id="gcsSessionTimeoutDialog" title="Your session is about to expire!" class="displayNone">
        <p>
            <span class="ui-icon ui-icon-alert logOff"></span>You will be logged off in <span id="dialog-countdown"></span>seconds.
        </p>
        <p>
            Do you want to continue your session?
        </p>
    </div>
    <!-- Mimic User dialog window markup -->
    <div id="mimicUserDialog" style="display: none;">
    </div>
    @{ Html.Syncfusion().ScriptManager().Render(); }
</body>
</html>
<script type="text/javascript">

    if ($.browser.msie) {

        if ($.browser.msie && parseInt($.browser.version, 10) > 7) {
            $(".ui-datepicker-trigger").css({ "cursor": "pointer", "vertical-align": "middle", "marginLeft": "2px", "marginTop": "-1px" });
        } else {
            $(".ui-datepicker-trigger").css({ "cursor": "pointer", "vertical-align": "middle", "marginLeft": "2px", "marginTop": "-15px" });
        }

    } else {
        $(".ui-datepicker-trigger").css({ "cursor": "pointer", "vertical-align": "middle", "marginLeft": "2px", "marginTop": "-4px" });
    }
    var watermarkUserName = '@ClearenceResource.js_watermarkUserName';
    var watermarkUserId = '@ClearenceResource.js_watermarkUserId';
    var watermarkCountry = '@ClearenceResource.js_watermarkCountryOnly';

</script>
