@using UMGI.GRCS.BusinessEntities.Entities.AnaEntities
@using UMGI.GRCS.BusinessEntities.Entities.ContractEntities
@using UMGI.GRCS.Resx.Resource.UIResources
@using UMGI.GRCS.UI.Extensions
@using System.Resources
@model UMGI.GRCS.UI.Models.ManageTerritoryModel
@{
    var resManager = new ResourceManager("UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource", typeof(ClearenceResource).Assembly);
    ViewBag.Title = resManager.GetString("TerritorialRightsHeader");

}
<link href="@Url.Content("/GCS/Content/ManageTerritory.min.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    var  sitecollection = @Html.Raw(Json.Encode(ViewBag.Territories));
    var IdForTerritory="@Model.IdForTerritory";
</script>

<script src="@Url.Content("/GCS/Scripts/json2.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/JSLinq/jsLinq.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/ManageTerritory.js")" type="text/javascript"></script>

<div id="territorialWarning" class="displayNone">
    <div class="warningContainer">
        <img class="alertImage" src="/GCS/Images/Alert.png" alt="Warning" />
    </div>
    <div id="territorialAlert"></div>
</div>
<div class="commonParentContainer trContainer">
    <div class="autocompleteContainer">
        <input id="autocomplete" class="alignLeft" style="margin-right: 10px;" />
        <span id="imgClearFilter" onclick="Clear()" style="display: none"></span>
        <div class="findBtn">
            <div class="primbutton_left"></div>
            <div class="alignLeft">
                <input type="button" value="Find" id="btnSearchTerritory" class="primbutton" />
            </div>
            <div class="primbutton_right"></div>
        </div>
        <span class="hyperlink"><a id="btnClear" href="javascript:void(0);">@resManager.GetString("ClearFilter")</a></span>
    </div>
    <div class="terrRightsContainer clearFloat">
        <div class="gr_clearFloat">
            <div class="firstHeaderColumn" style="height: 24px !important; width: 41.1%;">
                &nbsp;
            </div>
            <div class="columnWithContent" style="height: 24px; width: 6%;">
                @resManager.GetString("NotApplicable")
            </div>
            <div class="columnWithContent" style="height: 24px; width: 6.1%;">
                @resManager.GetString("Include")
            </div>
            <div class="columnWithContent" style="height: 24px; width: 6.1%;">
                @resManager.GetString("Exclude")
            </div>
            <div class="lastColumn" style="height: 24px; width: 10.2%;">
                &nbsp;
            </div>
        </div>
        <div id="mainDiv" style="overflow-y: scroll;">
            @{
                bool item = ViewBag.Search;
            }
            @Html.SiteMenuAsUnorderedList(ViewBag.Territories as List<TerritorialDisplay>, item)
        </div>
        <div class="excludeIncludeList">
            <div class="includeItemsCont">
                @resManager.GetString("IncludeList")
            </div>
            <select size="6" multiple="multiple" id="includeitems" class="zeroMargin"></select>
            <div class="excludeItems">
                @resManager.GetString("ExcludeList")
            </div>
            <select size="6" multiple="multiple" id="excludeitems" class="zeroMargin"></select>
        </div>
    </div>
    <br class="clear" />
    <div id="buttonContainer">
        <div class="btnHolder">
            <div class="primbutton_left"></div>
            <div class="alignLeft">
                @{
                    var resourceTerritory = (Model.IdForTerritory < 3) ? true : false;
                }
                @if (resourceTerritory || Model.IsCallFromWorkgroup)
                {
                    <input type="button" class="primbutton" value="@resManager.GetString("SaveButton")" id="btnSaveTerritory" />
                }
                else
                {
                    <input type="button" class="primbutton" value="@resManager.GetString("SaveButton")" id="btnSaveResourceTerritory" />
                }
            </div>
            <div class="primbutton_right btnSpace"></div>
            <div class="secbutton_left"></div>
            <div class="alignLeft">
                <input type="button" class="secbutton" value="@resManager.GetString("ResetButton")" id="btnReSet" clickStatus="false" />
            </div>
            <div class="secbutton_right btnSpace"></div>
            <div class="secbutton_left"></div>
            <div class="alignLeft">
                <input type="button" class="secbutton" value="@resManager.GetString("CancelButton")" id="btnCancelPopup" />
            </div>
            <div class="secbutton_right">
            </div>
        </div>
    </div>
</div>