@using UMGI.GRCS.Resx.Resource.UIResources
@model UMGI.GRCS.UI.Models.RepertoireSearchModel
<link href="@Url.Content("/GCS/Content/SubPages/PropagateLinkingFromProjectToRepertoire.min.css")"  rel="stylesheet" type="text/css" />
<link href="@Url.Content("/GCS/Scripts/jtable/themes/standard/blue/jtable_blue.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("/GCS/Scripts/json2.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/jtable/jquery.jtable.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/UnlinkAssociatedResources.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/PriorityWorkQueue.js")" type="text/javascript"></script>

<div class="scrollPropRelToRes">

    <!--------contract Info ends---->
    <input type="hidden" id="hiddenCount" value="@ViewBag.displayMessage" />
    <hr class="hrRep" />
    <div style="padding: 10px;">

        <div>
            <p style="margin-top: 10px; margin-bottom: 10px;">@ContractResource.ProjectToRepertoireHeader</p>
            <input type="checkbox" id="selectAllRelease" />@ContractResource.AllRepertoireCheckBox
            <div id="buttons">
                <input type="submit" class="btnLinkResofRel primbutton" value="@ContractResource.ConfirmUnlinkButton" />
                <input type="submit" class="secbutton btnSpacing cancelRelease" value="@ContractResource.CancelButton" />
            </div>
        </div>

        <div style="clear: both;">
            @for (int i = 0; i < Model.ObjReleaseModel.ReleaseItems.Count; i++)
            {

                <div id="accordion">
                    <div class="head">
                        <input type="checkbox" id="selectRelease" class="checkAll" />@ContractResource.AllCheckBox<label>|</label>
                        <span class="newHead">
                            <a href="#" class="header">
                                <span style="margin-left: 15px;">@Html.LabelFor(model => model.ObjReleaseModel.ReleaseItems[i].Upc):</span>
                                @Html.DisplayFor(model => model.ObjReleaseModel.ReleaseItems[i].Upc)
                            </a>
                        </span>
                    </div>
                    @*<input type="hidden" id="unlinkContractId" value="@Model.ObjReleaseModel.ReleaseItems[i].LinkedContractDetails[0].ContractId" />*@
                    <div id="releaseContainer @i.ToString()">

                        <!-------Above Release Details---------->
                        <div class="topPadding" style="padding: 10px;">
                            <div class="projectFields">
                                @Html.LabelFor(model => model.ObjReleaseModel.ReleaseItems[i].ArtistName):
                            @Html.DisplayFor(model => model.ObjReleaseModel.ReleaseItems[i].ArtistName)
                            </div>
                            <div class="projectFields">
                                |
                            @Html.LabelFor(model => model.ObjReleaseModel.ReleaseItems[i].ReleaseTitle):
                            @Html.DisplayFor(model => model.ObjReleaseModel.ReleaseItems[i].ReleaseTitle)
                            </div>
                            <div class="projectFields">
                                |
                            @Html.LabelFor(model => model.ObjReleaseModel.ReleaseItems[i].VersionTitle):
                            @Html.DisplayFor(model => model.ObjReleaseModel.ReleaseItems[i].VersionTitle)
                            </div>
                            <div class="projectFields">
                                |
                            @Html.LabelFor(model => model.ObjReleaseModel.ReleaseItems[i].DataAdminCompany):
                            @Html.DisplayFor(model => model.ObjReleaseModel.ReleaseItems[i].DataAdminCompany)
                            </div>
                        </div>
                        <!-------Above HrLine---------->
                        <hr class="hrRep" />
                        <div class="resourceContainer">
                            <div id="resource">
                                <p><span class="alignLeft"><span id="counts @i.ToString()" class="testing">@ContractResource.ResourceCountHeader</span></span><span class="ui-jtable-loading" style="margin-top: -1px; float: left;"></span></p>
                                <div id="resourceGrid @i.ToString()" class="topPadding jtableGrid Clear" title="@Model.ObjReleaseModel.ReleaseItems[i].ReleaseId.ToString()" name="@Model.ObjReleaseModel.ReleaseItems[i].LinkedContractDetails[0].ContractId">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="popUpFooter">
    <div class="footerInputs">
        <input type="submit"  class="btnLinkResofRel primbutton" value="@ContractResource.ConfirmUnlinkButton" />
        <input type="submit" class="cancelRelease cancelLink secbutton btnSpacing" value="@ContractResource.CancelButton" />
    </div>
</div>
<style type="text/css">
    #popUpFooter {
        background-color: #ccc;
        height: 42px;
    }

    .footerInputs {
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 30px;
    }

    .resourceContainer {
        padding: 10px;
    }

    .scrollPropRelToRes {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 400px;
        position: relative;
    }

    .jtable-main-container {
        clear: both;
    }
</style>