@model UMGI.GRCS.UI.Models.RepertoireSearchModel
@{
    Layout = null;
}
<script src="@Url.Content("/GCS/Scripts/Custom/ResourceContractLinkingAlert.js")" type="text/javascript"></script>

<script type="text/javascript">
    var msg = '@ViewBag.displayMessage';
    $(document).ready(function () {
        $('#resourceLinkOk').click(function () {
            $('#resourcePopup').dialog('close');
        });
    });
</script>

<style>
    .linkContractResource {
        color: Blue;
        font-weight: bold;
    }
</style>

<div style="padding: 10px;">

    <div id="hid">
        <input type="hidden"  value="@ViewBag.displayMessage" id="hiddenCount" />
        <input type="hidden"  value="@Model.ObjResourceModel.TotalRows" id="hiddeCounValidation" />
    </div>
    <div style="margin-top: 10px;">
        <div style="float: left; width: 60%; margin-bottom: 10px;">
            Below Resource(s) have already been Linked to contract: "<span class="linkContractResource">
                <span id="artistNameResAlert"></span>-
                                                                           <span id="contractingPartyResAlert"></span>-
                                                                           <span id="clearanceAdminResAlert"></span>
            </span>"
        </div>

        <div id="alinLeft" style="float: right;">
            <input type="submit" id="resourceLinkOk" value="Ok" class="primbutton" />
        </div>
    </div>

    <div id="linkContractInfo" style="clear: both; padding-top: 10px; height: 120px; position: relative; overflow-x: hidden; overflow-y: scroll; margin-bottom: 10px;">
        <table class="sample contractLinkingAlertInfo">
            <thead>
                <tr>
                    <th style="width: 16%;">ISRC
                    </th>
                    <th style="width: 16%;">Title
                    </th>
                    <th style="width: 12%;">Version Title
                    </th>
                    <th style="width: 12%;">Artist
                    </th>
                    <th style="width: 16%;">UserName
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int index = 0; index < Model.ObjResourceModel.SearchResults.Count(); index++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.ObjResourceModel.SearchResults[index].Isrc)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ObjResourceModel.SearchResults[index].ResourceTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ObjResourceModel.SearchResults[index].VersionTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ObjResourceModel.SearchResults[index].ArtistName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ObjResourceModel.SearchResults[index].UserName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>