@*@model UMGI.GRCS.BusinessEntities.Entities.ContractEntities.ContractDigitalRestrictions
<tr>
    <td>
        @Html.EditorFor(model => Model.DigitalRestrictionId)
        @Html.ValidationMessageFor(model => Model.DigitalRestrictionId)
    </td>
    <td>
        @Html.EditorFor(model => Model.ContentTypeId)
        @Html.ValidationMessageFor(model => Model.ContentTypeId)
    </td>
    <td>
        @Html.EditorFor(model => Model.UseTypeId)
        @Html.ValidationMessageFor(model => Model.UseTypeId)
    </td>
    <td>
        @Html.EditorFor(model => Model.CommercialModelId)
        @Html.ValidationMessageFor(model => Model.CommercialModelId)
    </td>
    <td>
        @Html.EditorFor(model => Model.RestrictionId)
        @Html.ValidationMessageFor(model => Model.RestrictionId)
    </td>
    <td>
        @Html.EditorFor(model => Model.ConsentPeriodId)
        @Html.ValidationMessageFor(model => Model.ConsentPeriodId)
    </td>
    <td>
        @Html.EditorFor(model => Model.Notes)
        @Html.ValidationMessageFor(model => Model.Notes)
    </td>
</tr>
*@


@*
@using using System.Collections.Generic;
@Model List<*@