@model UMGI.GRCS.UI.Models.WorkgroupModel
@{
    ViewBag.Title = "Create Parent Workgroup";
    Layout = "/GCS/Views/Shared/_ClearenceLayout.cshtml";
}
<!DOCTYPE html>
<script type="text/javascript">
    var hashTerritory = {};
    var territoryCollection = [];

    function callbackHandler(territoryList, uniqueKey, includedItems, excludedItems) {
        if (territoryCollection.length == 0) {
            hashTerritory = { 'Key': uniqueKey, 'Value': territoryList };
            territoryCollection.push(hashTerritory);
        }
        else {
            var listAvailable = JSLINQ(territoryCollection).Where(function (dict) { return dict.Key == uniqueKey; });
            if (listAvailable.items.length == 0) {
                hashTerritory = { 'Key': uniqueKey, 'Value': territoryList };
                territoryCollection.push(hashTerritory);
            }
            else {
                territoryCollection.splice($.inArray(listAvailable, territoryCollection), 1);
                hashTerritory = { 'Key': uniqueKey, 'Value': territoryList };
                territoryCollection.push(hashTerritory);
            }
        }
        document.getElementById('territoryDetailsForSave').value = JSON.stringify(territoryList);
        if (territoryList != "") {
            $('#btnManageTerritories').removeClass('input-validation-error');
            if ($("#RolesList").length > 0 && $("#RolesList option:selected").text().match('Inquiry')) {
                $('#btnManageCompany').removeClass('input-validation-error');
            }
        }
        setTerritoryCountry(territoryCollection, 'selectedCountries', 'excludedCountries');
        document.getElementById('hdnincludeTerritoryString').value = ($('#selectedCountries')[0].textContent == '') ? null : $('#selectedCountries')[0].textContent || $('#selectedCountries')[0].innerText;
        document.getElementById('hdnexcludeTerritoryString').value = ($('#excludedCountries')[0].textContent == '') ? null : $('#excludedCountries')[0].textContent || $('#excludedCountries')[0].innerText;
    }
</script>

<script src="@Url.Content("/GCS/Scripts/jtable/jquery.jtable.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/json2.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/jquery.watermark.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/CreateParentWorkgroup.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/ManageTerritoryExtn.js")" type="text/javascript"></script>
<link href="@Url.Content("/GCS/Scripts/jtable/themes/standard/green/jtable_green.min.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("CreateParentWorkgroupSave", "WorkGroup", FormMethod.Post, new { Id = "CreateParentWorkgroupForm" }))
{
    @Html.ValidationSummary(true)
    <div class="headerDiV">
        <input id="territoryDetailsForSave" name="hdnterritoryDetailsForSave" type="hidden"
            value="" />
        <input id="hdnincludeTerritoryString" name="hdnincludeTerritoryString" type="hidden"
            value="" />
        <input id="hdnexcludeTerritoryString" name="hdnexcludeTerritoryString" type="hidden"
            value="" />
        <input id="userDetailsForSave" name="hdnUserDetailsForSave" type="hidden"
            value="" />
        <h2 class="workgroup-margintopbottom5px">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.CreateNewWorkGrpHeader</h2>
        <br />
        <br />
        <div id="errorMessage" class="warning workgroup-margintopbottom5px">
        </div>
        <div id="loadingDv">
        </div>
        <div id="mainPanelDv">
            <div id="headerDv">
                <h5 class="downArrow">
                    @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.BasicDetails</h5>
            </div>
            <div id="contentDv">
                <!--Start searchBoxContainer first -->
                <div class="workgroup-searchBoxContainer" style="display: block;">
                    <!-- first Div -->
                    <div class="workgroup-firstContentDv">
                        <!-- Name Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                <label class="madatoryField">
                                    *</label>
                                @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.NameLabel
                            </div>
                            <div class="workgroup-valueDv">
                                @Html.TextBox("txtWorkgroupName", "", new { @maxlength = "510", @autocomplete = "off", @class = "workgroup-inputTypeText" })
                                @Html.ValidationMessageFor(model => model.WorkgroupDetails.Name)
                            </div>
                        </div>
                        <!-- Name Ends Here -->
                    </div>
                    <!-- End first Div -->
                    <!-- Second Div -->
                    <div class="workgroup-secondContentDv">
                        <!-- Role Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                <label class="madatoryField">
                                    *</label>@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.RoleLabel
                            </div>
                            <div class="workgroup-valueDv">
                                @Html.DropDownListFor(model => model.RolesList, new SelectList(Model.RolesList, "value", "text", Model.RolesList), "--Select Role--")
                                @Html.ValidationMessageFor(model => model.WorkgroupDetails.RoleName)
                            </div>
                        </div>
                        <!-- Role Ends Here -->
                    </div>
                    <!-- End Second Div-->
                    <!-- Third Div -->
                    <div class="workgroup-thirdContentDv">
                        <!-- StatusLabel Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.StatusLabel
                            </div>
                            <div class="workgroup-valueDv workgroup-lineheight2PX">
                                @Html.Label("WIP")
                            </div>
                        </div>
                        <!-- StatusLabel Ends Here -->
                    </div>
                    <!-- End Third Div-->
                </div>
                <!-- Close searchBoxContainer first -->
                <!--Start searchBoxContainer Second -->
                <div class="workgroup-searchBoxContainer" style="display: block;">
                    <!-- first Div -->
                    <div class="workgroup-firstContentDv">
                        <!-- Company Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.CompanyLabel
                            </div>
                            <div class="workgroup-valueDv" id="tdcompanyList">
                                <div id="companyList">
                                </div>
                                <input id="btnManageCompany" type="button" value="Manage Company" class="plbutton" />
                                <input id="hdnSaveCompanyList" name="hdnCompanyList" type="hidden" value="" />
                                @Html.ValidationMessageFor(model => model.WorkgroupDetails.Companies)
                            </div>
                        </div>
                        <!-- Company Ends Here -->
                    </div>
                    <!-- End first Div -->
                    <!-- Second Div -->
                    <div class="workgroup-secondContentDv">
                        <!-- Blank Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                &nbsp;
                            </div>
                            <div class="workgroup-valueDv">
                                &nbsp;
                            </div>
                        </div>
                        <!-- Blank Ends Here -->
                    </div>
                    <!-- End Second Div-->
                    <!-- Third Div -->
                    <div class="workgroup-thirdContentDv">
                        <!-- Blank Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                &nbsp;
                            </div>
                            <div class="workgroup-valueDv">
                                &nbsp;
                            </div>
                        </div>
                        <!-- Blank Ends Here -->
                    </div>
                    <!-- End Third Div-->
                </div>
                <!-- Close searchBoxContainer Second -->
                <!--Start searchBoxContainer Third -->
                <div class="workgroup-searchBoxContainer" style="display: block;">
                    <!-- first Div -->
                    <div class="workgroup-firstContentDv">
                        <!-- TerritoryCountryLabel Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.TerritoryCountryLabel
                            </div>
                            <div class="workgroup-valueDv" id="tdcountryList">
                                <span class="labelbold">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.IncludedLabel</span>
                                <div id="selectedCountries">
                                </div>
                                <input id="btnManageTerritories" type="button" value="Manage Territories" class="plbutton"
                                    disabled="disabled" />
                            </div>
                        </div>
                        <!-- TerritoryCountryLabel Ends Here -->
                    </div>
                    <!-- End first Div -->
                    <!-- Second Div -->
                    <div class="workgroup-secondContentDv">
                        <!-- Exclude Country Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                            </div>
                            <div class="workgroup-valueDv">
                                <span class="labelbold">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ExcludedLabel</span>
                                <div id="excludedCountries">
                                </div>
                            </div>
                        </div>
                        <!-- Exclude Country Ends Here -->
                    </div>
                    <!-- End Second Div-->
                    <!-- Third Div -->
                    <div class="workgroup-thirdContentDv">
                        <!-- Name Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                &nbsp;
                            </div>
                            <div class="workgroup-valueDv">
                                &nbsp;
                            </div>
                        </div>
                        <!-- Name Ends Here -->
                    </div>
                    <!-- End Third Div-->
                </div>
                <!-- Close searchBoxContainer Third -->
                <!--Start searchBoxContainer Furth -->
                <div class="workgroup-searchBoxContainer" style="display: block;">
                    <!-- first Div -->
                    <div class="workgroup-firstContentDv">
                        <!-- Users Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                <label class="madatoryField">
                                    *</label>@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.UsersLabel
                            </div>
                            <div class="workgroup-valueDv" id="tduserList">
                                @Html.ValidationMessageFor(model => model.WorkgroupDetails.Users)
                                <div id="divUsers">
                                </div>
                                <input id="btnManageUsers" type="button" value="Manage Users" class="plbutton" />
                            </div>
                        </div>
                        <!-- Users Ends Here -->
                    </div>
                    <!-- End first Div -->
                    <!-- Second Div -->
                    <div class="workgroup-secondContentDv">
                        <!-- DefaultUsersLabel Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                @*  <span style="white-space: nowrap">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.DefaultUsersLabel</span>*@
                            </div>
                            <div class="workgroup-valueDv" id="divDefaultUsers" style="padding-top: 5px;">
                            </div>
                        </div>
                        <!-- DefaultUsersLabel Ends Here -->
                    </div>
                    <!-- End Second Div-->
                    <!-- Third Div -->
                    <div class="workgroup-thirdContentDv">
                        <!-- R2 Contact Start Here -->
                        <div class="workgroup-contentWrapper">
                            <div class="workgroup-divField">
                                <span style="white-space: nowrap">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.R2ContactLabel</span>
                            </div>
                            <div class="workgroup-valueDv">
                                @Html.TextBox("txtR2Contact", "", new { @maxlength = "500", @autocomplete = "off", @class = "workgroup-inputTypeText" })
                                @Html.ValidationMessageFor(model => model.WorkgroupDetails.R2Contract)
                            </div>
                        </div>
                        <!-- R2 Contact Here -->
                    </div>
                    <!-- End Third Div-->
                </div>
                <!-- Close searchBoxContainer Furth -->
            </div>
        </div>
        @section BottomInputs{
            <input type="submit" id="btncreate" value="Create" class="primbutton" />
            <input type="reset" id="btnreset" value="Cancel" class="secbutton" />
        }
    </div>

    <div style="float: left;">
        <div id="manageCompanyContainer" style="margin: 0; padding: 0; width: 100%;">
        </div>
        <input id="hdnSavedCompanyValues" name="hdnSavedCompanyValues" value="" type="hidden" />
        <input id="hdnAddedValues" type="hidden" value="" />
        <input id="hdnCompanyIds" name="hdnCompanyIds" value="" type="hidden" />
        <div id="manageUsers">
        </div>
        <input id="hdnSavedUserValues" type="hidden" value="" runat="server" />
        <input id="hdnSavedUserNameValuesWithOutComma" type="hidden" value="" />
        <input id="hdnDefaultsUserForSave" type="hidden" value="" />
        <input id="hdnSavedUserNameValues" type="hidden" value="" runat="server" />
        @*Manage User CR - Starts*@
        <input id="hdnSavedInRoleUserValues" type="hidden" value="" runat="server" />
        <input id="hdnSavedR2UserValues" type="hidden" value="" runat="server" />
        <input id="hdnSavedUPCAllocUserValues" type="hidden" value="" runat="server" />
        <input id="hdnSavedMngWkpUserValues" type="hidden" value="" runat="server" />
        @*Manage User CR - Ends*@
    </div>
    <div id="manageCountry" class="poupPage">
        <div style="width: 80%; border: 2">
            <div class="accItem">
                <div class="editor-field">
                    <label class="madatoryField">
                        *</label>
                    @Html.Label(@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.SearchbyLabel)
                    @Html.Editor("countryName")
                    @Html.Editor("countryId")
                    <input id="btnOpenSearchCountry" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.SearchButton" runat="server" class="primbutton" />
                    <input id="btnResetCountry" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ResetButton" runat="server" class="secbutton" />
                </div>
            </div>
        </div>
        <div id="addedCountryResults" class="jtableDvwithDrop">
        </div>
        <div style="float: left;" class="poupBottomBarButton">
            <input id="btnRemoveCountry" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.RemoveButton" runat="server" class="secbutton"
                style="visibility: hidden;" />
        </div>
        <div style="float: right;">
            <input id="btnSaveCountry" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.SaveButton" runat="server" class="primbutton"
                style="visibility: hidden;" />
            <input id="btnCancelCountry" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.CancelButton" runat="server" class="secbutton"
                style="visibility: hidden;" />
        </div>
    </div>
    <div id="searchCountryPopup" class="poupPage">
        <div style="width: 80%; border: 2">
            <div class="accItem">
                <div class="editor-field">
                    <label class="madatoryField">
                        *</label>
                    @Html.Label(@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.SearchbyLabel)
                    @Html.Editor("countryNamePopup")
                    @Html.Editor("countryIdPopup")
                    <input id="btnSearchCountry" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.SearchButton" runat="server" class="primbutton" />
                    <input id="btnResetCountryPopup" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ResetButton" runat="server" class="secbutton" />
                </div>
            </div>
        </div>
        <table class="popupTableResult">
            <tr>
                <td id="searchResultForCountry" style="text-align: left;"></td>
                <td id="SearchCountryPaging" style="text-align: right;">
                    @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ShowDropDown @Html.DropDownListFor(model => model.ItemsPerPage, Model.ItemsPerPage, new { @id = "ddlCountryPaging" })
                    @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.itemsperpage
                </td>
            </tr>
        </table>
        <div id="searchCountryResults" class="jtableDvwithDrop">
        </div>
        <div id="addCountry" style="float: right;" class="poupBottomBarButton">
            <input id="btnAddCountry" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.AddButton" runat="server" class="primbutton" />
            <input id="btnCancelCountryPopup" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.CancelButton" runat="server" class="secbutton" />
            <input id="hdnAddCountryValues" type="hidden" value="" runat="server" />
            <input id="hdnSavedCountryValues" type="hidden" value="" runat="server" class="secbutton" />
        </div>
    </div>

    if (ViewBag.ValidationMsg != null)
    {
    <script type="text/javascript">
        alert('@ViewBag.ValidationMsg');
    </script>
    }

}
<script type="text/javascript">

    var manageTerritoryTitle = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ManageTerritoryHeader';
    var noRowsSelected = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_SelectRowAlert';
    var searchresultForLabel = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.SearchResultLabel';
    var createWorkgroupMessages = {
        searchInValid: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_searchworkgroupInvalidMessage',
        SelectDefaultUser: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_SelectDefaultUser',
        manageCompany: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ManageCompanyButton',
        manageUser: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ManageUsersButton'
    };
    var watermarkUserName = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_watermarkUserName';
    var watermarkUserId = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_watermarkUserId';
    var watermarkCountry = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_watermarkCountryOnly';
    var watermarkCompanyName = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_watermarkCompanyName';
    var watermarkIsacCode = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_watermarkIsacCode';
    var mandatoryFields = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_MandatoryFields';
    var validEmailId = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_ValidEmailId';
    var pageTitle = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.CreateNewWorkGrpHeader';
    var listOfMgCompanies = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_listOfAddedCompanies';
    var listOfAddedMgUsers = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_listOfAddedUsers';
    fromPage = '@ViewBag.PageName';
</script>
<script type="text/javascript">
    $("#CreateParentWorkgroupForm").submit(function () {
        return false;
    });

    function applyCustomTheam() {
        var docHeight = $(window).height();
        var headerHeight = 60;
        var footerHeight = 35;

        var mainContainerHeight = docHeight - headerHeight - footerHeight;

        $("#main").css({
            "height": mainContainerHeight + "px",
            "overflow": "auto",
            "overflowX": "hidden",
            "position": "relative"
        });

    }
    applyCustomTheam();
</script>