@model UMGI.GRCS.UI.Models.WorkgroupModel
@{
    Layout = null;
}
<!DOCTYPE html>
<script type="text/javascript">
 var hashTerritory = {};
  var territoryCollection = [];
        var  territoryList = @Html.Raw(Json.Encode(ViewBag.territoryDisplay));
        var workGroupKey='@ViewBag.workGroupIdTerritory';
        hashTerritory = { 'Key': workGroupKey, 'Value': territoryList };
        territoryCollection.push(hashTerritory);
</script>
<script src="@Url.Content("/GCS/Scripts/JSLINQ/jsLinq.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/ViewWorkgroup.js")" type="text/javascript"></script>
<script src="@Url.Content("/GCS/Scripts/Custom/ManageTerritoryExtn.js")" type="text/javascript"></script>
<style>
    #SearchViewWorkgroup
    {
        overflow-y: auto;
    }
</style>
<div class="headerDiV">
    <input id="hdnViewCompany" name="hdnViewCompany" type="hidden" value="@ViewBag.ViewCompany" />
     <input id="hdnModifiedTime" name="hdnModifiedTime" type="hidden" value="@ViewBag.ModifiedDateTime" />
    <div id="viewSelectedWorkgroupErrorMessage" class="warning" style="margin: 10px 0 0 0;">
    </div>
    <div style="word-wrap: break-word !important;">
        <h2 >@Html.LabelFor(model => model.Workgroup.Name, Model.Workgroup.Name)</h2>
    </div>
</div>
@*<input id="hdnincludeTerritoryString" name="hdnincludeTerritoryString" type="hidden"
            value="" />*@
<div id="mainPanelDv">
    <div id="headerDv">
        <h5 class="viewPWGHeader" @* class="downArrow"*@>@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.BasicDetailsLabel</h5>
    </div>
    <div class="viewWorkGroupScroll">
        <!--Start searchBoxContainer first -->
        <div class="workgroup-searchBoxContainer" style="display: block;">
            <!-- first Div -->
            <div class="workgroup-firstContentDv">
                <!-- Name Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.NameLabel
                    </div>
                    <div class="workgroup-valueDv" style="margin-top: 4px !important; word-wrap: break-word !important;">
                        @Html.LabelFor(model => model.Workgroup.Name, Model.Workgroup.Name)
                    </div>
                </div>
                <!-- Name Ends Here -->
            </div>
            <!-- End first Div -->
            <!-- Second Div -->
            <div class="workgroup-secondContentDv">
                <!-- Role Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.RoleLabel
                    </div>
                    <div class="workgroup-valueDv workgroup-lineheight2PX" style="margin-top: 1px !important">
                        <span class="labelbold">
                            @Html.LabelFor(model => model.Workgroup.RoleName, Model.Workgroup.RoleName)
                        </span>
                    </div>
                </div>
                <!-- Role Ends Here -->
            </div>
            <!-- End Second Div-->
            <!-- Third Div -->
            <div class="workgroup-secondContentDv">
                <!-- StatusLabel Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.StatusLabel
                    </div>
                    <div class="workgroup-valueDv workgroup-lineheight2PX" style="margin-top: 1px !important">
                        @Html.LabelFor(model => model.Workgroup.StatusType, Model.Workgroup.StatusType)
                    </div>
                </div>
                <!-- StatusLabel Ends Here -->
            </div>
            <!-- End Third Div-->
        </div>
        <!-- Close searchBoxContainer first -->
        <!--Start searchBoxContainer Second -->
        <div class="workgroup-searchBoxContainer" style="display: block;">
            <!-- first Div -->
            <div class="workgroup-firstContentDv">
                <!-- Company Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.CompanyLabel
                    </div>
                    <div class="workgroup-valueDv" id="tdcompanyList" style="margin-top: 4px !important">
                        <div id="jqgridcompany">
                        </div>
                    </div>
                </div>
                <!-- Company Ends Here -->
            </div>
            <!-- End first Div -->
            <!-- Second Div -->
            <div class="workgroup-secondContentDv">
                <!-- Blank Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        &nbsp;
                    </div>
                    <div class="workgroup-valueDv">
                    </div>
                </div>
                <!-- Blank Ends Here -->
            </div>
            <!-- End Second Div-->
            <!-- Third Div -->
            <div class="workgroup-secondContentDv">
                <!-- Blank Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        @if (Model.Workgroup.ParentID == 0)
                        {
                            <span style="white-space: nowrap" class="labelbold">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ChildrenWorkgroupsLabel
                            </span>
                        }
                        else
                        {
                            @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ParentWorkgroupsLabel
                        }
                    </div>
                    <div class="workgroup-valueDv" style="margin-top: 4px !important">
                        <div id="childWorkGroupList">
                            @(Model.Workgroup.ParentID == 0 ? Html.LabelFor(model => model.Workgroup.ChildWorkgroupNames, Model.Workgroup.ChildWorkgroupNames ?? "") : Html.LabelFor(model => model.Workgroup.ChildWorkgroupNames, Model.Workgroup.ChildWorkgroupNames ?? ""))
                        </div>
                    </div>
                </div>
                <!-- Blank Ends Here -->
            </div>
            <!-- End Third Div-->
        </div>
        <!-- Close searchBoxContainer Second -->
        <!--Start searchBoxContainer Third -->
        <div class="workgroup-searchBoxContainer" style="display: block;">
            <!-- first Div -->
            <div class="workgroup-firstContentDv">
                <!-- TerritoryCountryLabel Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.TerritoryCountryLabel
                    </div>
                    <div class="workgroup-valueDv" id="tdcountryList" style="margin-top: 4px !important;">
                        @UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.IncludedLabel
                        <div id="selectedCountries">
                        </div>
                        <label style="font-weight: normal">@ViewBag.IncludedTerritory</label>
                    </div>
                </div>
                <!-- TerritoryCountryLabel Ends Here -->
            </div>
            <!-- End first Div -->
            <!-- Second Div -->
            <div class="workgroup-secondContentDv">
                <!-- Role Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        <br />
                    </div>
                    <div class="workgroup-valueDv">
                        <span>@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.ExcludedLabel</span>
                        <div id="excludedCountries">
                           @*<label>@ViewBag.ExcludedTerritory</label>*@
                        </div>
                    </div>
                </div>
                <!-- Role Ends Here -->
            </div>
            <!-- End Second Div-->
            <!-- Third Div -->
            <div class="workgroup-secondContentDv">
                <!-- Name Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        &nbsp;
                    </div>
                    <div class="workgroup-valueDv">
                        &nbsp;
                    </div>
                </div>
                <!-- Name Ends Here -->
            </div>
            <!-- End Third Div-->
        </div>
        <!-- Close searchBoxContainer Third -->
        <!--Start searchBoxContainer Furth -->
        <div class="workgroup-searchBoxContainer" style="display: block;">
            <!-- first Div -->
            <div class="workgroup-firstContentDv">
                <!-- Users Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        <label class="madatoryField">
                            *</label>@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.UsersLabel
                    </div>
                    <div class="workgroup-valueDv" style="font-weight: normal; margin-top: 4px !important;"
                        id="tduserList">
                      @*  @Html.LabelFor(model => model.Workgroup.User, Model.Workgroup.User ?? "")*@
                    </div>
                </div>
                <!-- Users Ends Here -->
            </div>
            <!-- End first Div -->
            <!-- Second Div -->
            <div class="workgroup-secondContentDv">
                <!-- DefaultUsersLabel Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                      @*  <span style="white-space: nowrap">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.DefaultUsersLabel</span>*@
                    </div>
                    <div class="workgroup-valueDv" id="divDefaultUsers" style="margin-top: 4px !important">
                  @*      @Html.LabelFor(model => model.DefaultUserName, Model.DefaultUserName ?? "")*@
                    </div>
                </div>
                <!-- DefaultUsersLabel Ends Here -->
            </div>
            <!-- End Second Div-->
            <!-- Third Div -->
            <div class="workgroup-secondContentDv">
                <!-- R2 Contact Start Here -->
                <div class="workgroup-contentWrapper">
                    <div class="workgroup-divField">
                        <span style="white-space: nowrap">@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.R2ContactLabel</span>
                    </div>
                    <div class="workgroup-valueDv" style="margin-top: 3px !important">
                        @Html.LabelFor(model => model.Workgroup.R2Contract, Model.Workgroup.R2Contract)
                    </div>
                </div>
                <!-- R2 Contact Here -->
            </div>
            <!-- End Third Div-->
        </div>
        <!-- Close searchBoxContainer Furth -->
    </div>
    <div style="border-bottom: 1px solid #A6A6A6; width: 100%; float: left; clear: both;
        margin: 0; padding: 0;">
    </div>
</div>
<div class="rightwrapperResult" style="margin-right: 0 !important; margin-top: 10px;">
    <table class="withoutborder">
        <tr>
            <td>
                <input class="secbutton" id="btnDeleteViewWorkGroup" type="button" value= "@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.DeleteButton" />
            </td>
            <td>
                <input class="secbutton" id="btnDeactiveViewWorkGroup" type="button" value= "@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.DeactiveButton" />
            </td>
            <td>
                <input class="secbutton" id="btnCancelView" type="button" value="@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.CancelButton" />
            </td>
            <td>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var msgsuccess = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_deleteworkgroupSuccessfulMessage';
    var msgpendingrequest = '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.js_deactivatePendingRequestMessage';
    LoadCompanies();
    setTerritoryCountry(territoryCollection, 'selectedCountries', 'excludedCountries');

    //Manage Users CR - Starts
    var forDefaultUserName = '@ViewBag.defaultUserName' != "" ? '@ViewBag.defaultUserName' : "&nbsp;";
    var forMaintainUsersInRole = '@ViewBag.UsersInRole' != "" ? '@ViewBag.UsersInRole' : "&nbsp;";
    var forMaintainUsersCanMngWkg = '@ViewBag.UsersCanMngworkgroup' != "" ? '@ViewBag.UsersCanMngworkgroup' : "&nbsp;";
    var forMaintainUsersR2Authorized = '@ViewBag.UsersR2Authorized' != "" ? '@ViewBag.UsersR2Authorized' : "&nbsp;";
    var forMaintainUsersCanAllocateUPC = '@ViewBag.UsersCanAllocateUPC' != "" ? '@ViewBag.UsersCanAllocateUPC' : "&nbsp;";
    var mgUserRequestorRights = {
        Requestor: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.mngUser_Rights_Requestor',
        R2Authorized: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.mngUser_Rights_R2Authorized',
        UPCAllocation: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.mngUser_Rights_UPCAllocation',
        Reviewer: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.mngUser_Rights_Reviewer',
        Inquiry: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.mngUser_Rights_Inquiry',
        ManageWorkgroup: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.mngUser_Rights_ManageWorkgroup',
        DefaultUsers: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.DefaultUsersLabel',
        Admin: '@UMGI.GRCS.Resx.Resource.UIResources.ClearenceResource.mngUser_Rights_RccAdmin'
    }
    var selectedWorkgroupRole = '@ViewBag.workgroupRoleName';
    var ShowMaintainUsers = "";
    var userRequestorOrInquieryLabel = (selectedWorkgroupRole.match('Reviewer') || selectedWorkgroupRole.match('UMGI Global Clearance')) ? mgUserRequestorRights.Reviewer : mgUserRequestorRights.Inquiry;
    if ($.trim('@ViewBag.defaultUserName') != "" || $.trim('@ViewBag.UsersInRole') != "" || $.trim('@ViewBag.UsersCanMngworkgroup') != "" || $.trim('@ViewBag.UsersR2Authorized') != "" || $.trim('@ViewBag.UsersCanAllocateUPC') != "") {
        if (selectedWorkgroupRole.match('Inquiry')) {
            ShowMaintainUsers = $('<ul style=""><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + userRequestorOrInquieryLabel + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersInRole + '</div></li><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.ManageWorkgroup + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersCanMngWkg + '</div></li></ul>');
            $("#btnManageUsers").css("margin-top", "5px");
        }
        if (selectedWorkgroupRole.match('Requestor')) {
            ShowMaintainUsers = $('<ul style=""><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.Requestor + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersInRole + '</div></li><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.R2Authorized + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersR2Authorized + '</div></li><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.UPCAllocation + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersCanAllocateUPC + '</div></li><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.ManageWorkgroup + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersCanMngWkg + '</div></li></ul>');
            //$('<table id="tblUserRightsInfo"><tr><td>' + mgUserRequestorRights.DefaultUsers + '</td><td>' + forDefaultUserName + '</td></tr><tr><td>' + mgUserRequestorRights.Requestor + '</td><td>' + forMaintainUsersInRole + '</td></tr><tr><td>' + mgUserRequestorRights.R2Authorized + '</td><td>' + forMaintainUsersR2Authorized + '</td></tr><tr><td>' + mgUserRequestorRights.UPCAllocation + '</td><td>' + forMaintainUsersCanAllocateUPC + '</td></tr><tr><td>' + mgUserRequestorRights.ManageWorkgroup + '</td><td>' + forMaintainUsersCanMngWkg + '</td></tr></table>');
            $("#btnManageUsers").css("margin-top", "5px");
        }
        if (selectedWorkgroupRole.match('Reviewer') || selectedWorkgroupRole.match('UMGI Global Clearance')) {// || selectedWorkgroupRole.match('Inquiry')) {
            ShowMaintainUsers = $('<ul style=""><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.DefaultUsers + '</div><div class="mngUserSplRightsNamesDataDiv">' + forDefaultUserName + '</div></li><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + userRequestorOrInquieryLabel + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersInRole + '</div></li><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.ManageWorkgroup + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersCanMngWkg + '</div></li></ul>');
            //$('<table id="tblUserRightsInfo"><tr><td>' + mgUserRequestorRights.DefaultUsers + '</td><td>' + forDefaultUserName + '</td></tr><tr><td>' + userRequestorOrInquieryLabel + '</td><td>' + forMaintainUsersInRole + '</td></tr><tr><td>' + mgUserRequestorRights.ManageWorkgroup + '</td><td>' + forMaintainUsersCanMngWkg + '</td></tr></table>');
            $("#btnManageUsers").css("margin-top", "5px");
        }
        if (selectedWorkgroupRole.match('Admin')) {
            ShowMaintainUsers = $('<ul style=""><li class="mngUserSplRightsLi"><div class="mngUserSplRightsLabelDiv" >' + mgUserRequestorRights.Admin + '</div><div class="mngUserSplRightsNamesDataDiv">' + forMaintainUsersInRole + '</div></li></ul>');
            $("#btnManageUsers").css("margin-top", "5px");
        
            //$('<div class="uprr-wrapper"><div class="dataDv"><ul class="currency" style=""><li><div class="dataDv" style="float:left;width:49%;">' + mgUserRequestorRights.DefaultUsers + '</div><div class="dataDv" style="float:right;width:49%;">' + forDefaultUserName + '</div></li><li><div class="dataDv" style="float:left;width:49%;">' + mgUserRequestorRights.Requestor + '</div><div class="dataDv" style="float:right;width:49%;">' + forMaintainUsersInRole + '</div></li><li><div class="dataDv" style="float:left;width:49%;">' + mgUserRequestorRights.R2Authorized + '</div><div class="dataDv" style="float:right;width:49%;">' + forMaintainUsersR2Authorized + '</div></li><li><div class="dataDv" style="float:left;width:49%;">' + mgUserRequestorRights.UPCAllocation + '</div><div class="dataDv" style="float:right;width:49%;">' + forMaintainUsersCanAllocateUPC + '</div></li><li><div class="dataDv" style="float:left;width:49%;">' + mgUserRequestorRights.ManageWorkgroup + '</div><div class="dataDv" style="float:right;width:49%;">' + forMaintainUsersCanMngWkg + '</div></li></ul></div></div>');
        }
        window.parent.$("#tduserList").html(ShowMaintainUsers.html());
    }
    //Manage Users CR Ends

    $('#ViewWorkgroup').css("overflowY", "auto");    
</script>
